<launch>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_fk_estimated" clear_params="true">
    <param name="tf_prefix" type="str" value="labelled"/>
    <param name="use_tf_static" type="bool" value="false"/>
    <remap from="joint_states" to="/dart/estimated/state"/>
  </node>

  <!-- identity transform between true root and labelled root -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="root_tf" args="0 0 0 0 0 0 root labelled/root" />
</launch>