<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find mypackage)/rosconsole.conf"/>
  <node name="kinopt" pkg="kinopt" type="kinopt.py" output="screen">
    <remap from="image/rgb" to="/camera/rgb/image_rect_color/compressed"/>
    <param name="keypoint_path" type="string" value="/home/christian/Downloads/rf_data_kuka_1848_test_ftips/keypoints/max_coords.csv" />
  </node>
</launch>
