<launch>
  <param name="use_sim_time" value="false" />

  <!-- Load the URDF/Xacro model of our robot -->
  <param name="robot_description" textfile="$(find kuka_lwr4_description)/robots/lwr_robotiq_3finger.urdf" />

  <!-- Provide simulated control of the robot joint angles -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
     <param name="/use_gui" value="True"/>
     <param name="rate" value="20"/>
  </node>

  <!-- Publish the robot state -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" value="20.0"/>
  </node>
</launch>
