<launch>
  <!-- filter depth data for visualisation-->
  <include file="$(find mpe_launch)/launch/filter_compressed_vis_xwall.launch"/>

  <arg name="MODEL"/>

  <!-- prediction on unfiltered images -->
  <include file="$(find mpe_launch)/launch/prediction.launch">
    <arg name="MODEL" value="$(arg MODEL)" />
    <arg name="IMG_COLOUR" value="/camera/rgb/image_rect_color/compressed" />
    <arg name="IMG_DEPTH" value="/camera/depth/image_rect_raw/compressedDepth" />
  </include>
</launch>
