<launch>
  <param name="robot_description" textfile="$(find lwr_defs)/robots/lwr_sdh.urdf" />
  <!-- true state -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="fk_true">
    <param name="tf_prefix" value="true" type="str"/>
  </node>
  <!-- estimated state -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="fk_estimated">
    <param name="tf_prefix" value="estimated" type="str"/>
    <remap from="joint_states" to="/kinopt/solution"/>
  </node>
  <!-- true/camera_rgb_optical_frame and estimated/camera_rgb_optical_frame are the same frames as camera_rgb_optical_frame -->
  <node pkg="tf" type="static_transform_publisher" name="camera_tf_est" args="0 0 0 0 0 0 1 camera_rgb_optical_frame estimated/camera_rgb_optical_frame 10" />
  <node pkg="tf" type="static_transform_publisher" name="camera_tf_true" args="0 0 0 0 0 0 1 camera_rgb_optical_frame true/camera_rgb_optical_frame 10" />
</launch>
