<launch>
  <param name="robot_description" textfile="$(find kuka_lwr4_description)/urdf/lwr_sdh.urdf" />
  <include file="$(find mpe_launch)/launch/fk.launch" pass_all_args="true"/>

  <!-- set 'camera_rgb_optical_frame' as the common frame -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="camera_tf_est" args="0 0 0 0 0 0 1 camera_rgb_optical_frame estimated/camera_rgb_optical_frame 100"  clear_params="true"/> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="camera_tf_true" args="0 0 0 0 0 0 1 camera_rgb_optical_frame true/camera_rgb_optical_frame 100"  clear_params="true"/> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="exotica_world_tf" args="0 0 0 0 0 0 1 camera_rgb_optical_frame exotica/world 100"  clear_params="true"/> -->
</launch>
